nav{
  position:fixed;
}

#textORImage{
  margin-left: 50%;
  margin-right: 50%;
}

p{
  font-size: 30px;
}

button {
 display: block !important;
 font-weight: bold; 
 margin-bottom: 20px;
 margin-top: 20px;
 background-color: chocolate;
 border-radius: 10px;
 width: 130px;
 height: 80px
}

body{
  background-color: pink;
}

caption{
  font-size: 2px;
}
