nav{
  position:fixed;
}

#textORImage{
  margin-left: 50%;
  margin-right: 50%;
}

p{
  font-size: 30px;
}

#chooseFile{
    font-size: 38px ! important;
    width: 240px ! important;
    height: 120px ! important;
  }

button {
 display: block !important;
 font-weight: bold; 
 margin-bottom: 50px;
 margin-top: 50px;
 background-color: chocolate;
 border-radius: 10px;
 width: 225px;
 height: 120px;
 font-size: 30px;
}

body{
  background-color: pink;
}

caption{
  font-size: 2px;
}
